*{
    padding: 0;
    margin: 0;
}
.Second{

    background-color: purple;
    border: none;
    padding: 10px;
    color: white;
    margin: 25px;
    border-radius: 5px;

}
.First{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    margin: 60px;
    margin-left: 30%;
    background-color: black;
    border-radius: 30px;
   
}
.number{

    color: white;
}